<form method="post" action="/course/save">
    <h2>New course</h2>
  <div class="form-group">
    <label for="name">Name: </label>
    <input type="text" class="form-control" id="name"  placeholder="Enter name" name="name"> 
  </div>
  <div class="form-group">
    <label for="desc">Desc: </label>
    <input type="text" class="form-control" id="desc"  placeholder="Enter desc" name="desc"> 
  </div>
  <div class="form-group">
    <label for="videoId">Video Id: </label>
    <input type="text" class="form-control" id="videoId"  placeholder="Enter videoId" name="videoId"> 
  </div>
  
  <button type="submit" class="btn btn-primary">Create</button>
</form>